# Base LLM & API
openai
python-dotenv

# Hugging Face
huggingface-hub
transformers
sentence-transformers
langchain-huggingface
datasets

# Framework & Orchestration
langchain
langchain-openai
langchain-community
langchain-anthropic
langgraph

# Vector Database
chromadb

# Data Processing
tiktoken
beautifulsoup4
markdown

# Utility
pandas
tqdm
ipykernel
scikit-learn
streamlit
matplotlib