# Base LLM & API
openai
python-dotenv

# Hugging Face
huggingface-hub
torch
torchvision
transformers
sentence-transformers
langchain-huggingface
datasets

# Framework & Orchestration
langchain
langchain-openai
langchain-community
langchain-anthropic
langgraph
langgraph-cli[inmem]

# Vector Database
chromadb

# Data Processing
tiktoken
beautifulsoup4
markdown

# Utility
pandas
tqdm
ipykernel
scikit-learn
streamlit>=1.31.0
altair<5
matplotlib
seaborn

# Firebase Admin
firebase-admin